[Unit]
Description=Hadoop JournalNode
After=network.target

[Service]
User={{ hadoop_user }}
Group={{ hadoop_user }}
Environment=JAVA_HOME=/usr/lib/jvm/jre
ExecStart={{ hadoop_user_home }}/hadoop/bin/hdfs journalnode
ExecStop=/bin/kill -15 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
